.favoriteContainer {
  background-color: var(--color-bg-secondary);
  box-sizing: border-box;
  padding: 24px;
}
@media screen and (min-width: 860px) {
  .favoriteContainer {
    padding: 96px 20px;
  }
}
.mainContainer {
  display: flex;
  gap: 32px;
}
.favoritesList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
