.teacherContainer {
  border: 1px solid var(--color-border);
  overflow: hidden;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 24px;
  width: 1184px;
  height: 100%;
}

.teacherHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 12px 16px;
  background-color: var(--color-background-secondary);
  font-size: 14px;
}
.teacherCard {
  display: flex;
  justify-content: flex-start;
  gap: 48px;
}
.avatarContainer {
  display: flex;
  align-items: flex-start;
}
.favoriteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.2s;
}

.favoriteButton:hover {
  transform: scale(1.2);
}

.favorited {
  color: var(--color-error);
}

.avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.details {
  width: 100%;
}

.shortInfo {
  font-size: 14px;
  color: var(--color-primary-dark);
}

.readMoreButton {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-primary-dark);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: 16px;
}

.readMoreButton:hover {
  background-color: var(--color-primary-dark);
}
.details {
  transition: max-height 0.3s ease;
}
.hidden {
  display: none;
}
.bookLessonButton {
  background-color: var(--color-primary);
  color: var(--color-bg-main);
  border-radius: 12px;
  padding: 16px 48px;
  width: 232px;
  height: 60px;
}

.bookLessonButton:hover {
  background-color: var(--color-primary-light);
}
