.teacherContainer {
  border: 1px solid var(--color-border);
  overflow: hidden;
  background-color: var(--color-bg-main);
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 24px;
  width: 1184px;
  height: 100%;
  margin: auto;
}
.languagesContainer {
  margin-right: 210px;
  color: #8a8a89;
}
.languages {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-primary-dark);
}
.ratingContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}
.teacherHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 16px;
}
.teacherCard {
  display: flex;
  justify-content: flex-start;
  gap: 48px;
}
.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  padding: 12px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--color-primary);
}
.avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
}
.details {
  width: 100%;
}
.teacherName {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: var(--color-text-primary);
}
.shortInfo {
  font-size: 14px;
  color: var(--color-primary-dark);
}
.infoSpan {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
}
.infoPrice {
  padding-left: 2px;
  color: #38cd3e;
}
.starIcon {
  fill: currentColor;
}

.readMoreButton {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-primary-dark);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: 16px;
}

.readMoreButton:hover {
  background-color: var(--color-primary-dark);
}
.details {
  transition: max-height 0.3s ease;
}
.teacherName {
  margin-bottom: 16px;
}
.hidden {
  display: none;
}
.bookLessonButton {
  background-color: var(--color-primary);
  color: var(--color-bg-main);
  border-radius: 12px;
  padding: 16px 48px;
  width: 232px;
  height: 60px;
  margin-top: 32px;
}

.bookLessonButton:hover {
  background-color: var(--color-primary-light);
}
.levels {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.level {
  border-radius: 35px;
  padding: 8px 12px;
  min-width: 110px;
  height: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;

  background-color: var(--color-primary);
  color: var(--color-text-primary);

  white-space: nowrap;
}
.expandedSection {
  margin-top: 32px;
}
.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-primary);
}
.reviewsList .info {
  color: var(--color-text-primary);
}
.reviewItem p + p {
  margin-top: 8px;
}
.favoriteButton {
  background: transparent;
  border: none;
  cursor: pointer;

  color: var(--color-text-primary);
  transition:
    color 0.2s ease,
    transform 0.2s ease;
}

.favoriteButton svg {
  display: block;
}

.favorited {
  color: #e63946; /* активне сердечко */
}

.favoriteButton:hover {
  transform: scale(1.1);
}
