/* .heroSection {
  padding: 64px 0;
} */

.heroRow {
  margin: 0 64px;
  display: flex;
  gap: 32px;
  border-radius: 30px;
}
.heroCard {
  max-width: 720px;
  flex: 1;
  background-color: #f8f8f8;
  border-radius: 30px;
  padding: 64px;
}
.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #121417;
}
.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.02em;
  color: #121417;
}
.highlight {
  font-style: italic;
  font-weight: 400;
  background-color: var(--color-primary);
}
.button {
  border-radius: 12px;
  padding: 16px 88px;
  width: 267px;
  height: 60px;
  background-color: var(--color-primary);
  color: var(--color-text-main);
}
.heroImageCard {
  min-height: 530px;
  width: 568px; /* ли Figma */
  background-color: #fbe9ba;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoCard {
  padding: 32px;
  border: 1px dashed var(--color-primary);
  border-radius: 20px;
}

.infoCard ul {
  display: flex;
  justify-content: space-between;
}
