.heroRow {
  padding: 0 64px;
  display: flex;
  gap: 32px;
  border-radius: 30px;
}
.heroCard {
  max-width: 720px;
  flex: 1;
  background-color: var(--color-bg-secondary);
  border-radius: 30px;
  padding: 64px;
}
.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--color-text-main);
  padding-bottom: 32px;
  margin: 0;
}

.highlight {
  border-radius: 8px;
  font-style: italic;
  font-weight: 400;
  background-color: var(--color-primary);
}
.button {
  border-radius: 12px;
  padding: 16px 88px;
  width: 267px;
  height: 60px;
  background-color: var(--color-primary);
  color: var(--color-text-main);
}
.heroImageCard {
  min-height: 530px;
  width: 568px;
  background-color: var(--color-primary);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.heroImage {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 60%;
  height: auto;
  margin: 0 auto;
}

.componentImage {
  fill: var(--color-primary);
  position: absolute;
  left: 50%;
  bottom: 12px; /* pinned to container bottom; adjust as needed */
  transform: translateX(-50%);
  z-index: 2;
  width: 360px;
  height: 176px;
}
