.button {
  padding: 12px 24px;
  border-radius: 10px;
  background-color: var(--color-primary);
  color: var(--color-text-main);
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-primary-light);
}
