.header {
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 0;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.navigation {
  display: none;
}

.authDesktop {
  display: none;
}

@media (min-width: 861px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 0 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    background-color: var(--color-bg-primary);
    color: var(--color-text-main);
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
  }

  .iconText {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--color-text-main);
  }
  .navigation {
    display: flex;
    gap: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--color-text-main);
  }

  .authDesktop {
    display: flex;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
