.bookModal {
  box-sizing: border-box;
  width: 540px;
  height: auto;
  padding: 64px;
  border-radius: 30px;
  background-color: var(--color-bg-main);
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.avatar {
  width: 44px;
  height: 44px;
  object-fit: cover;
  border-radius: 50%;
}
.details {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
