.footer {
  margin: 24px 64px 32px 64px;
  padding: 32px;
  border: 1.5px dashed var(--color-primary);
  border-radius: 30px;
}

.list {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 100px;
font-weight: 500;
font-size: 28px;
line-height: 1.15;
letter-spacing: -0.02em;
}
.listItem {
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: row;
gap: 16px;
font-weight: 400;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.02em;
color: rgba(18, 20, 23, 0.7);
}