.container {
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 32px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 0 16px;
    margin: 0 auto;
  }
}
