:root {
  --font-family-main: "Roboto", sans-serif;

  /* text */
  --color-text-main: #121417;
  --color-text-secondary: #8a8a89;

  /* background */
  --color-bg-main: #ffffff;
  --color-bg-secondary: #f8f8f8;
}
/* Yellow theme */
.theme-yellow {
  --color-primary: #f4c550;
  --color-primary-light: #fbe9ba;
}

/* Green theme */
.theme-green {
  --color-primary: #9fbaae;
  --color-primary-light: #cbded3;
}

/* Blue theme */
.theme-blue {
  --color-primary: #9fb7ce;
  --color-primary-light: #bfd6ea;
}

/* Pink theme */
.theme-pink {
  --color-primary: #e0a39a;
  --color-primary-light: #f2c0bd;
}

/* Peach theme */
.theme-peach {
  --color-primary: #f0aa8d;
  --color-primary-light: #f4c8ba;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: var(--font-family-main);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.02em;
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.button {
  padding: 16px 48px;
  border-radius: 12px;
  background-color: var(--color-primary);
  color: var(--color-text-main);
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-primary-light);
}
