:root {
  --font-family-main: "Roboto", sans-serif;
  /* typography */
  --font-main: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* text */
  --color-text-main: #121417;
  --color-text-secondary: #8a8a89;

  /* background */
  --color-bg-main: #ffffff;
  --color-bg-secondary: #f8f8f8;
}
/* Yellow theme */
.theme-yellow {
  --color-primary: #f4c550;
  --color-primary-light: #fbe9ba;
}

/* Green theme */
.theme-green {
  --color-primary: #9fbaae;
  --color-primary-light: #cbded3;
}

/* Blue theme */
.theme-blue {
  --color-primary: #9fb7ce;
  --color-primary-light: #bfd6ea;
}

/* Pink theme */
.theme-pink {
  --color-primary: #e0a39a;
  --color-primary-light: #f2c0bd;
}

/* Peach theme */
.theme-peach {
  --color-primary: #f0aa8d;
  --color-primary-light: #f4c8ba;
}
body {
  font-family: var(--font-family-main);
}
/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
} */

ul {
  list-style: none;
}
.container {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 64px;
}
.button {
  padding: 16px 48px;
  border-radius: 12px;
  background-color: var(--color-primary);
  color: var(--color-text-main);
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-primary-light);
}
